.login_register_vertical_center{
    flex-direction: column;
    height: 100%;
    background-color:#FFFFFF;
    align-items: center;
    justify-content: center;
    display: flex;
    .action_button{
        position: absolute !important;
        bottom: 0 !important;
        width:100%;
        border-radius: 0;
        z-index:1;
        text-align: center
    }
    .alertLabel{
        color: #1271B6;
        font-size:20px;
    }
    .action_input{
        color: #fcdfdf;
        background-color: #1271B6;
        width: 50%; 
        height: 20px;               
        padding: 7px 0px;                
        border-radius: 3px;               
        padding-left:5px;
    }
}
